#title {
    text-align:center;
}

#tempo {
    margin-left:2%;
}

#tempo_txt {
    float:left
}

.grid_container {
    margin-top:5%;
}

.box {
    background-color: #1E1E1E;
    margin-left: 5%;
    margin-top: 1%;
    width:2%;
    padding-bottom: 2%;
}