{% load static %}

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.78/Tone.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'canetis/style.css' %}"/>
</head>
<body>
<div class="wrapper">
    <!--z-index 0-->
    <img src="{% static 'canetis/60793_photo_manipulation_vaporwave.jpg' %}"/>
    <div class="content">
        <!--z-index 1-->
        <p id="title">C A N E T I S MIDI Sequencer</p>
        <p id="tempo_txt">Tempo</p><br>
        <input type="text" id="tempo" placeholder="Tempo in BPM"><br>
        <button id="play_btn">Play/Pause</button>
        <button id="stop">Stop</button>
        <button id="save" disabled>Save</button>
        <button id="add_column">+ Column</button>
        <div class="main_container">
            <!--z-index 2-->
            <div class="grid_container">
                <div class="notes">
                    <table style="width:100%" id="main_table"> <!--//hide at this level-->
                        <tr id="C3">
                            <ul>
                                <td>C3</td>
                            </ul>
                        </tr>
                        <tr id="D3">
                            <ul>
                                <td>D3</td>
                            </ul>
                        </tr>
                        <tr id="E3">
                            <ul>
                                <td>E3</td>
                            </ul>
                        </tr>
                        <tr id="F3">
                            <ul>
                                <td>F3</td>
                            </ul>
                        </tr>
                        <tr id="G3">
                            <ul>
                                <td>G3</td>
                            </ul>
                        </tr>
                        <tr id="A3">
                            <ul>
                                <td>A3</td>
                            </ul>
                        </tr>
                        <tr id="B3">
                            <ul>
                                <td>B3</td>
                            </ul>
                        </tr>
                        <tr id="C4">
                            <ul>
                                <td>C4</td>
                            </ul>
                        </tr>
                        <tr id="D4">
                            <ul>
                                <td>D4</td>
                            </ul>
                        </tr>
                        <tr id="E4">
                            <ul>
                                <td>E4</td>
                            </ul>
                        </tr>
                        <tr id="F4">
                            <ul>
                                <td>F4</td>
                            </ul>
                        </tr>
                        <tr id="G4">
                            <ul>
                                <td>G4</td>
                            </ul>
                        </tr>
                        <tr id="A4">
                            <ul>
                                <td>A4</td>
                            </ul>
                        </tr>
                        <tr id="B4">
                            <ul>
                                <td>B4</td>
                            </ul>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    // function to stop song

    // onclick event to change button color and play note sample
    let btn_toggle = 1;

    function color_toggle_btn(btn_id) {
        let property = document.querySelector("." + btn_id);
        if (!property.innerText.includes(".")) {
            property.style.backgroundColor = "#FFFFFF";
            property.style.color = "##ef37af";
            btn_toggle = 1;
            property.innerText += ".";
            console.log(property.innerText)

        } else {
            property.innerText = property.innerText.substr(0, 2);
            property.style.backgroundColor = "#ef37af";
            property.style.color = "#FFFFFF";
            btn_toggle = 0;
            console.log(property.innerText)
        }
    }

    let column_count = 1;
    let main_table = document.querySelector('#main_table');
    let notes = ['C3', 'D3', 'E3', 'F3', 'G3', 'A3', 'B3', 'C4', 'D4', 'E4', 'F4', 'G4', 'A4', 'B4'];
    var synth = new Tone.Synth().toMaster();

    // function to add columns
    function add_new_column() {
        let trs = main_table.children[0].children; // get trs
        for (let i = 0; i < trs.length; ++i) {
            //console.log(trs[i]);
            let td = document.createElement("td");
            let bt = document.createElement('button');
            bt.innerText = notes[i] + '.';
            bt.classList.add('note_bt');
            let btn_id = notes[i] + column_count;
            bt.classList.add(btn_id);
            bt.onclick = function () {
                //play for the duration of an 8th note
                synth.triggerAttackRelease(notes[i], '8n');
                color_toggle_btn(btn_id)
            };
            td.appendChild(bt);
            trs[i].appendChild(td);
        }
        column_count += 1
    }

    let add_column_btn = document.querySelector('#add_column');
    add_column_btn.onclick = add_new_column;

    add_new_column();


    // function to play song
    let play = document.querySelector('#play_btn');

    function playColumn(column_index) {
        for (let i=0; i<notes.length; ++i) {
            let note_button = document.querySelector("." + notes[i] + column_index);
            if (!note_button.innerText.includes('.')) {
                synth.triggerAttackRelease(notes[i], '8n');
            }
        }
    }

    play.onclick = function () {
        let set_tempo = document.querySelector('#tempo').value;
        let adjusted_tempo = 60000/set_tempo;
        let current_column = 1;
        let interval = setInterval(function() {
            playColumn(current_column);
            current_column += 1;
            if (current_column >= column_count) {
                clearInterval(interval);
            }
        }, adjusted_tempo)
    }
</script>
</html>



